body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #030a15;
}

div{
    border: 1px solid rgb(255, 221, 0);

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #081934;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    margin: -20px;
}

.header > div{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    align-items: center;
    color: white;
    
}

.header > div > h1{
    font-weight: bold;

}

.destaque{
    color: #0ead9b;
}

.intro{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.intro > div:first-of-type > div{
    background-color: #0ead9b;
    border: 1px solid #0ead9b;
}

.intro > div:first-of-type > p:first-of-type{
    font-weight: bold;
    font-size: 45px;
}

.intro > div:first-of-type > p:nth-child(2){
    font-weight: 400;
    font-size: 20px;
}

