body{
    font-family: Arial;
}

.titulo{
    background-color: #945994;
    border-radius: 25px;
    text-align: center;
}

.tabla1{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
}

.numero{

}