.contenedor {
    width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.titulo {
    background-color: #b366ff;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 25px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

td {
    border: 1px solid #000;
    height: 30px;
    padding: 2px 5px;
}


.label-numero{ 
    width: 15%; 
    text-align: right; 
}

.numero { 
    width: 25%; 
}

.boton { 
    width: 15%; 
    text-align: center; 
}

.celda-estado { width: 45%; 
    font-weight: bold; 
    text-align: center; 
}

.intentos { 
    text-align: center;
    font-weight: bold; 
}

.visor-historial { 
    height: 35px;
    text-align: left; 
    padding-left: 10px; 
}

.tabla-marcador { 
    width: 65%; 
    margin: 20px auto; 
}

.cabecera-numerica td { 
    background-color: #d9d9d9; 
    text-align: center; 
    font-weight: bold; 
}

.fila-x td { 
    text-align: center; 
}

.estado-fallo {
    background-color: #ff4d4d; 
    color: white;
}


.estado-exito {
    background-color: #2eb82e;
    color: white;
}

.casilla-usada {
    background-color: #b366ff; 
    color: white;
}

input { 
    width: 90%; 
    border: none; 
    outline: none; 
    font-size: 16px; 
}

button { 
    cursor: pointer; 
    padding: 2px 10px; 
}